.product-info-main .pdp-wrapper2 .product-info-wrapper.saleable .subwrapper.product-info-subwrapper2 .store-pickup-wrapper button.action.primary.check-stock {
    background-color: #fff;
    color: #1d1160;
    border: solid 2px #1d1160;
}
li.menu-item {
    background-color: #e62012!important;
}
.euroshop-icon-euro:before {
    opacity: 0.8;
}
euroshop-icon-tumbsup{
    opacity: 0.8;
}
usp-item euroshop-icon-box{
    opacity: 0.8;
}
.page-main .block {
    margin-bottom: 10px;
}
.usp-wrapper {
    margin: 60px 0 30px 0;
}
